<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.attendance.AttendanceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fprwZ1nOEY5zmL5zvtUwQCK4Am3pjYdQ" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.CourseActivity"></activity>
        <activity android:name=".activity.CourseNameActivity"></activity>
        <activity android:name=".activity.LocationActivity"></activity>
        <activity android:name=".activity.AttDetailActivity"></activity>
        <activity android:name=".activity.AddAttendanceActivity"></activity>
        <activity android:name=".activity.AddLocationActivity"></activity>
        <activity android:name=".activity.LocDetailActivity"></activity>
        <activity android:name=".activity.SearchCourseActivity"></activity>
        <activity android:name=".activity.StuStatActivity"></activity>
        <activity android:name=".activity.TeaStatActivity"></activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
    </application>

</manifest>